html, body {
    padding: 0;
    margin: 0;
}

.jumbotron {
height: 500px;
background-image: url("/assets/images/background.jpg");
background-size: cover;
color: black;
font-family: Helvetica, Arial, sans-serif;
}

.containerheading, .containerheading2{
  padding-left:10%;
}

.btn{
  width: 225px;
  height: auto;
  color: black;
}

img{
  height: 50px;
  display: center;
}

row{
  h1{
    margin-left: 50%;
    margin-right: auto;
  }
}

.leftimage{
  position:absolute;
  top:0;
  left:0;
}

.centered-form{
  margin-top: 15%;
}

.centered-form panel{
  background:rgba(255,255,255,0.8);
  box-shadow:rgba(0,0,0,0.3);
}
