<div class="jumbotron">
  <div class="containerheading">
    <h1>Drive,</h1>
    <h1>Shop,</h1>
    <h1>Earn.</h1>
    <p>Make a difference.</p>
    <a class="btn btn-primary btn-lg btn-block" href="/shopper" role="button">Apply now</a><br>	
    <a {{action "status"}} class="btn btn-link"role="button">View Your Application Status</a>
  </div>
  <div class="containerheading2 hide">
    <h2>Shop And Earn.</h2>
    <h3> At Your Convenience.</h3>
    <p>Be your own boss.</p>
    <a class="btn btn-primary btn-lg btn-block" href="/shopper" role="button">Apply now</a><br> 
    <a {{action "status"}} class="btn btn-link"role="button">View Your Application Status</a>
  </div>
</div>

<div class="container">
  <div class="row">
  		<h1 class="text-center">3 Simple Steps</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center">Get Order</h2>
      <img class="center-block" src="/assets/images/order.png"/>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Get Shopping</h2>
      <img class="center-block" src="/assets/images/shopping.png"/>
   </div>
    <div class="col-md-4">
      <h2 class="text-center">Get Paid</h2>
      <img class="center-block" src="/assets/images/money.png"/>
    </div>
  </div>

  <hr>

  <footer>
    <a {{action "cookie"}}>© 2018 Instacart</a>
  </footer>
</div>